@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    width: 800px; 
    height: 550px; 
    background: #1f9e672b;
    ;
    border-radius: 10px;
    box-shadow: 8px 8px 8px grey;
}
.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .icons {
    display: flex;
}
header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #0d6a43;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child {
    margin-right: -10px;
}
header .icons span:hover {
    background: #f2f2f2;
}
header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
    color: #044b24;
}
.calendar {
    padding: 20px;
}
.calendar ul {
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    list-style: none;
    text-align: center;
}
.calendar .days {
    margin-top: 20px;
}
.calendar li {
    color: #333;
    font-size: 1.07rem;
    padding: 10px;
    
}
.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}
.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}
.days li.inactive {
    color: #aaa;
}
.days li.active {
    color: #fff;
}
.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before {
    background: #044b24;
}
.days li:not(.active):hover::before {
    background: #60a32d;
}
.event-popup {
    display: none;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c4d8c2;
    padding: 20px;
    box-shadow: 8px 8px 8px grey;
    border-radius: 10px;
    z-index: 999;
    width: 300px; 
}
.event-popup h3 {
    margin-bottom: 10px;
    margin-top: 2px;
}
.event-popup input[type="text"],
.event-popup input[type="email"],
.event-popup input[type="tel"],
.event-popup input[type="time"],
.event-popup button {
    display: block;
    margin-bottom: 10px;
    width: 100%; 
    padding: 8px;
}
.event-popup button {
    background: #edf8e7;
    color: #fff;
    border: none;
    cursor: pointer;
}
.success-message {
    text-align: center;
    font-weight: 500;
    color: #3498db;
}
.label {
   margin-top: -10px;
   margin-bottom: -14px;
}
.button--primary {
    background: #303f27;
    border: #303f27 ;
}
.custom-status-message {
    border: 2px solid #008000; 
    padding: 10px; 
    margin: 10px 0; 
    background-color: #008000;
    color: whitesmoke;
}
.days li.highlighted{
    background: yellowgreen;
}



