table {
    align-items: center;
    box-sizing: border-box; 
    width: 80%;
    border: 1px solid #ddd;
    margin: 70px auto;
    border-collapse: collapse;
    font-family: 'calibri';
    box-shadow: 12px 12px 12px grey;
    border-radius: .8rem;
    backdrop-filter: blur(9px);
}
th,td {
    border: 1px solid #ddd;
    border-bottom: 1px, solid #ddd;
    padding: 11px;
    text-align: center;
}
th {
     background-color: #0d121499;
     color: #fff;
     font-size: 20px;
}
td {
    background-color: #fff5;
    backdrop-filter: blur(53px);
}
tr:hover {
    background-color: #ddd; 
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.5);
}
.heading {
    border: 1px solid #ddd;
    border-bottom: 1px, solid #ddd;
    padding: 11px;
    text-align: center;
}
