 {# <h4>Host Data Details</h4>  #}

<div class="wrapper">
   <header>
       <p class="current-date"></p>
       <div class="icons">
           <span id="prev" class="material-symbols-rounded">chevron_left</span>
           <span id="next" class="material-symbols-rounded">chevron_right</span>
       </div>
   </header>
   <div class="calendar">
       <ul class="weeks">
           <li>{{ data }}</li>
           <li>Mon</li>
           <li>Tue</li>
           <li>Wed</li>
           <li>Thu</li>
           <li>Fri</li>
           <li>Sat</li>
       </ul>
       <ul class="days"></ul>
    </div>
</div>
<div class="event-popup" id="event-popup">

   <span class="close-popup" id="close-popup" onclick="closeEventPopup()">&times;</span>
   <p id="output"></p>
   <h3>Book Time Slot</h3>
   <p id="selected-date"></p>

   {{ form }}
 
</div>
<!-- Success Message -->
<div class="success-message" id="success-message"></div>
