{{ attach_library('meet_on_time/meet_on_time_table_style') }}
<body>
    <table>
        <thead>
            <tr class = "label">
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Time Slot</th>
                <th>Hidden date Field</th>
            </tr>
        </thead>
        <tbody>
            {% for item in details %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone_no }}</td>
                    <td>{{ item.time_slot }}</td>
                    <td>{{ item.hidden_date_field }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>    