<h4>Host Data Details</h4>

  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Meeting Title</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Time Duration</th>
          </tr>
      </thead>
      <tbody>
       <tr>
         <td>{{ data.name }}</td>
         <td>{{ data.meeting_title }}</td>
         <td>{{ data.email }}</td>
         <td>{{ data.phone_no }}</td>
         <td>{{ data.start_time }}</td>
         <td>{{ data.end_time }}</td>
         <td>{{ data.start_date }}</td>
         <td>{{ data.end_date }}</td>
         <td>{{ data.time_duration }}</td>
       </tr>
   </tbody>
 </table>